{% load static %}

{% block footer %}
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Plataforma Digital do Agrupamento de Escolas de Almancil
        </div>
        <!-- Default to the left -->
        {% if user.is_authenticated %}
            <strong>Copyright &copy; 2023 <a href="{% url 'landing_page' %}">PlataformaAEA</a>.</strong> All rights reserved.
        {% else %}
            <strong>Copyright &copy; 2023 <a href="{% url 'landing_page' %}">PlataformaAEA</a>.</strong> All rights reserved.
        {% endif %}
    </footer>
{% endblock %}