{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">

            <div class="col-md-3 col-sm-6 col-12">
                <a href="{% url 'users:logout' %}">
                    <div class="info-box shadow" style="background-color:seashell">
                        <img src="{% static 'portalAEAlmancil/img/game_favicon_small.png' %}" alt="plataforma Logo"
                         class="brand-image img-push elevation-3"
                         style="opacity: .8">
                        <div class="info-box-content">
                            <span class="info-box-number">Gabinete de Apoio e Mediação Escolar</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <a href="{% url 'users:logout' %}">
                    <div class="info-box shadow" style="background-color:seashell">
                        <img src="{% static 'portalAEAlmancil/img/pias_icon.png' %}" alt="plataforma Logo"
                         class="brand-image img-push elevation-3"
                         style="opacity: .8">
                        <div class="info-box-content">
                            <span class="info-box-number">Processos Individuais dos Alunos</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>

          </div>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}