{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Processo Individual do Aluno</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'user_homepage' %}">Início</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'pias:pias_view' %}">PIA</a></li>
                            <li class="breadcrumb-item"> {{ student.get_short_name }} </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <h2 class="text-center display-4">{{ student.name }}</h2>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <div class="card card-success shadow-sm collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Dados de <b><i>{{ student.name }}</i></b></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><strong>N.º Processo </strong></td>
                                                    <td>{{ student.process_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Email </strong></td>
                                                    <td>{{ student.email }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Telemóvel </strong></td>
                                                    <td>{{ student.phone }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Data de nascimento </strong></td>
                                                    <td>{{ student.birth_date }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Idade </strong></td>
                                                    <td>{{ student.get_age }} anos</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Morada </strong></td>
                                                    <td>
                                                        <p>{{ student.address }}</p>
                                                        <p>{{ student.postal_code }} - {{ student.locality }}</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="../../dist/img/user2-160x160.jpg" alt="user-avatar"
                                             class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-12 col-sm-6 col-md-5 d-flex align-items-stretch flex-column">
                        <div class="card card-success shadow-sm collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Dados de <b><i>Encarregado de Educação</i></b></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td><strong>Nome </strong></td>
                                                <td>{{ student.more.ee_name }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Parentesco </strong></td>
                                                <td>{{ student.more.ee_kinship }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email </strong></td>
                                                <td>{{ student.more.ee_email }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Telemóvel </strong></td>
                                                <td>{{ student.more.ee_phone }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Profissão </strong></td>
                                                <td>{{ student.more.ee_work }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.card -->
            </section>

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0">

                                            <h2 class="text-center display-5">Documentos</h2>

                                            <h6 class="text-center display-10">
                                                <a href="{% url 'pias:pias_insert_view' student_id=student.id %}">
                                                    Inserir documento
                                                </a>
                                            </h6>
                                            <h6 class="text-center display-10">
                                                <a href="#">
                                                    Partilhar processo
                                                </a>
                                            </h6>

                                            {% if not pias %}
                                                <div class="container-fluid">
                                                    <h5 class="text-center display-8">(Processo sem documentos)</h5>
                                                </div>
                                            {% else %}
                                                <table class="table table-head-fixed text-nowrap">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Documento</th>
                                                        <th>Resumo</th>
                                                        <th>Data do documento</th>
                                                        <th>Criado a</th>
                                                        <th>Editado a</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for pia in pias %}
                                                        <tr>
                                                            <td>{{ pia.id }}</td>
                                                            <td>
                                                                <a href="{% url 'pias:pias_document_detail_view' student_id=student.id doc_id=pia.id %}">
                                                                    {{ pia.type }}
                                                                </a>
                                                            </td>
                                                            <td>{{ pia.description | truncatechars:50 }}</td>
                                                            <td>{{ pia.doc_date|date:"d-m-Y" }}</td>
                                                            <td>{{ pia.created|date:"d-m-Y" }}</td>
                                                            <td>{{ pia.modified|date:"d-m-Y" }}</td>
                                                            <td>
                                                                <a href="{{ pia.get_absolute_url }}" target="_blank">
                                                                    <i class="far fa-file-pdf"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'pias:pias_edit_view' student_id=student.id doc_id=pia.id %}" class="small-box-footer">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'pias:pias_delete_view' student_id=student.id doc_id=pia.id %}" class="small-box-footer">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}