{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <h3> Pias HomePage</h3>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">

            <h3> Pias HomePage</h3>

        </div>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}