{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Processo Individual do Aluno</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'user_homepage' %}">Início</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'pias:pias_view' %}">PIA</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'pias:pias_consult_view' student_id=student.id %}">
                                    {{ student.get_short_name }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Inserir Percurso</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="content-wrapper" style="margin-top: 0">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <h2 class="text-center display-4">{{ student.name }}</h2>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-primary">
                                        <h2 class="text-center display-5">Inserir Percurso Escolar</h2>
                                        <h6 class="text-center display-10">
                                            <a href="{% url 'pias:pias_consult_view' student_id=student.id %}">
                                                | Voltar |
                                            </a>
                                        </h6>
                                        <form method="post" enctype="multipart/form-data" novalidate>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label><i class="fas fa-paperclip mr-1"></i>{{ form.school_year.label }}</label>
                                                            {% render_field form.school_year class="form-control" %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label><i class="fas fa-graduation-cap"></i> Agrupamento/Escola</label>
                                                            {% render_field form.school class="form-control" placeholder="Nome da Escola e/ou do Agrupamento de Escolas " %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-success">Inserir Percurso</button>
                                                <a class="btn btn-outline-secondary float-right" href="{% url 'pias:pias_consult_view' student_id=student.id %}">
                                                    Cancelar
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}